@import "tailwindcss";

@keyframes typing {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.chat-shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 0) 0%,
    rgba(255, 255, 0, 0.3) 50%,
    rgba(255, 255, 0, 0) 100%
  );
  animation: shimmer 1s ease-out;
  pointer-events: none;
  z-index: 1;
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}
@layer utilities {
  .animate-typing {
    animation: typing 2s steps(20) alternate, blink 0.7s;
  }

  .animate-scrollLeft {
    animation: scrollLeft 120s linear infinite;
  }
}